.container {
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 2fr;
  border: 1px black dotted;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  border: 1px black dotted;
  justify-content: center;
  align-items: center;
  display: grid;
}

.board {
  gap: 10px;
  border: 1px red dotted;
  border-radius: 15px;
  padding: 20px;
  background-color: gainsboro;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* #blocked {
  pointer-events: none;
  opacity: 0;
} */

.boardTiles {
  width: 100px;
  height: 100px;
  border: 2px green solid;
  background-color: white;
}

.boardTiles:hover {
  cursor: pointer;
  background-color: lightgreen;
  opacity: 0.1;
}
